

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677282550894-402 {top: 20px; left: 40px; height: 20px; width: 280px; color: rgb(242, 242, 242);
        }
        .silex-id-1677282570032-403 {top: 40px; left: 40px; height: 20px; width: 340px; color: rgb(246, 246, 246);
        }
        .silex-id-1677282604928-404 {top: 80px; left: 40px; height: 40px; width: 120px; color: rgb(240, 240, 240); font-size: 18px;
        }
        .silex-id-1677282646499-405 {top: 140px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282651376-406 {top: 140px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282654084-408 {top: 140px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282655137-409 {top: 140px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282653298-407 {top: 140px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282660344-410 {top: 180px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282661217-411 {top: 180px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282662383-412 {top: 220px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282663282-413 {top: 220px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282664290-414 {top: 260px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282665858-415 {top: 260px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282668527-416 {top: 300px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282669682-417 {top: 300px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282671409-418 {top: 180px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282672419-419 {top: 220px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282673235-420 {top: 260px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282674176-421 {top: 300px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282675185-422 {top: 180px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282675953-423 {top: 220px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282676837-424 {top: 260px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282677588-425 {top: 300px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282678742-426 {top: 180px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282679524-427 {top: 220px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282680482-428 {top: 260px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282681668-429 {top: 300px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282685786-430 {top: 140px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(252, 252, 252);
        }
        .silex-id-1677282702566-431 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(252, 252, 252);
        }
        .silex-id-1677282703280-432 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(252, 252, 252);
        }
        .silex-id-1677282703969-433 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(252, 252, 252);
        }
        .silex-id-1677282704616-434 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(252, 252, 252);
        }
        .silex-id-1677282731207-436 {top: 340px; left: 140px; height: 40px; width: 160px;
        }
        .silex-id-1677282714938-435 {top: 340px; left: 40px; height: 40px; width: 100px; color: rgb(237, 237, 237);
        }
        .silex-id-1677282739741-437 {top: 380px; left: 40px; height: 20px; width: 100px; color: rgb(250, 250, 250);
        }
        .silex-id-1677282765636-440 {top: 420px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677282761913-439 {top: 500px; left: 320px; height: 64px; width: 64px;
        }
        .silex-id-1677282759015-438 {top: 420px; left: 320px; height: 64px; width: 64px;
        }
        .silex-id-1677282501991-401 {top: 20px; left: 500px; height: 100px; width: 100px;
        }
    