

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677280010089-120 {top: 40px; left: 500px; height: 100px; width: 100px;
        }
        .silex-id-1677280016955-121 {top: 20px; left: 40px; height: 20px; width: 280px; color: rgb(246, 246, 246);
        }
        .silex-id-1677280042588-122 {top: 60px; left: 40px; height: 20px; width: 340px; color: rgb(242, 242, 242);
        }
        .silex-id-1677280114642-123 {top: 120px; left: 40px; height: 20px; width: 100px; font-size: 18px; color: rgb(248, 248, 248);
        }
        .silex-id-1677280165052-124 {top: 160px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280177099-125 {top: 160px; left: 160px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280189533-129 {top: 200px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280190620-130 {top: 240px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280191726-131 {top: 280px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280193901-132 {top: 320px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280195312-133 {top: 200px; left: 160px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280196222-134 {top: 240px; left: 160px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280197231-135 {top: 280px; left: 160px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280198140-136 {top: 320px; left: 160px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280178860-126 {top: 160px; left: 320px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280199868-137 {top: 200px; left: 320px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280200588-138 {top: 240px; left: 320px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280201276-139 {top: 280px; left: 320px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280202221-140 {top: 320px; left: 320px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280206398-144 {top: 320px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280205713-143 {top: 280px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280205056-142 {top: 240px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280203040-141 {top: 200px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280179998-127 {top: 160px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280182191-128 {top: 160px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280207234-145 {top: 200px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280209006-146 {top: 240px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280209873-147 {top: 280px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280210865-148 {top: 320px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280234584-149 {top: 160px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280256893-150 {top: 200px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280257731-151 {top: 240px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280258431-152 {top: 280px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280259107-153 {top: 320px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280263336-154 {top: 380px; left: 40px; height: 40px; width: 100px; color: rgb(242, 242, 242);
        }
        .silex-id-1677280277943-155 {top: 380px; left: 160px; height: 40px; width: 140px;
        }
        .silex-id-1677280285940-156 {top: 420px; left: 40px; height: 20px; width: 100px; color: rgb(253, 253, 253);
        }
        .silex-id-1677280304101-157 {top: 420px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677280310123-158 {top: 460px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677280314807-159 {top: 500px; left: 340px; height: 64px; width: 64px;
        }
    