

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677282166764-361 {top: 20px; left: 520px; height: 100px; width: 100px;
        }
        .silex-id-1677282176649-362 {top: 20px; left: 40px; height: 20px; width: 300px; color: rgb(247, 247, 247);
        }
        .silex-id-1677282197244-363 {top: 40px; left: 40px; height: 20px; width: 360px; color: rgb(249, 249, 249);
        }
        .silex-id-1677282232255-364 {top: 80px; left: 40px; height: 40px; width: 120px; color: rgb(249, 249, 249); font-size: 18px;
        }
        .silex-id-1677282286538-365 {top: 140px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282292610-366 {top: 140px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282301034-370 {top: 140px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(241, 241, 241);
        }
        .silex-id-1677282297121-369 {top: 140px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282295092-368 {top: 140px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282293922-367 {top: 140px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282321905-371 {top: 180px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282324033-372 {top: 220px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282328057-373 {top: 260px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282329728-374 {top: 300px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677282331122-375 {top: 180px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282331887-376 {top: 220px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282332575-377 {top: 260px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282333263-378 {top: 300px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677282334368-379 {top: 180px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282334995-380 {top: 220px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282336483-381 {top: 260px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282337152-382 {top: 300px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677282337987-383 {top: 180px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282339540-384 {top: 220px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282340320-385 {top: 260px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282341088-386 {top: 300px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677282342017-387 {top: 180px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282342720-388 {top: 220px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282343409-389 {top: 260px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282344196-390 {top: 300px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677282346708-391 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(241, 241, 241);
        }
        .silex-id-1677282347601-392 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(241, 241, 241);
        }
        .silex-id-1677282348292-393 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(241, 241, 241);
        }
        .silex-id-1677282348886-394 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(241, 241, 241);
        }
        .silex-id-1677282353620-395 {top: 340px; left: 40px; height: 20px; width: 100px; color: rgb(255, 255, 255);
        }
        .silex-id-1677282374088-396 {top: 340px; left: 140px; height: 40px; width: 160px;
        }
        .silex-id-1677282384817-397 {top: 380px; left: 40px; height: 20px; width: 100px; color: rgb(248, 248, 248);
        }
        .silex-id-1677282406587-400 {top: 420px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677282404298-399 {top: 500px; left: 320px; height: 64px; width: 64px;
        }
        .silex-id-1677282401295-398 {top: 420px; left: 320px; height: 64px; width: 64px;
        }
    