

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-size: auto; background-position: 0% 0%; background-repeat: repeat;
        }
        .silex-id-1677280802416-200 {top: 20px; left: 540px; height: 100px; width: 100px;
        }
        .silex-id-1677280809086-201 {top: 20px; left: 40px; height: 20px; width: 320px; color: rgb(247, 247, 247);
        }
        .silex-id-1677280829415-202 {top: 40px; left: 40px; height: 20px; width: 320px; color: rgb(241, 241, 241);
        }
        .silex-id-1677280873214-203 {top: 80px; left: 40px; height: 40px; width: 100px; color: rgb(243, 243, 243); font-size: 18px;
        }
        .silex-id-1677280921681-204 {top: 140px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280927488-205 {top: 140px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280929760-206 {top: 140px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280932015-207 {top: 140px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280932911-208 {top: 140px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280934737-209 {top: 180px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280936301-210 {top: 220px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280937197-211 {top: 260px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280937932-212 {top: 300px; left: 20px; height: 22px; width: 80px;
        }
        .silex-id-1677280944207-213 {top: 180px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280944910-214 {top: 220px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280945667-215 {top: 260px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280946397-216 {top: 300px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280947326-217 {top: 180px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280948078-218 {top: 220px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280949117-219 {top: 260px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280949774-220 {top: 300px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280951984-221 {top: 180px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280953856-222 {top: 220px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280954786-223 {top: 260px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280955615-224 {top: 300px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280957587-225 {top: 180px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280958325-226 {top: 220px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280959087-227 {top: 260px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280959887-228 {top: 300px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280962085-229 {top: 140px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(244, 244, 244);
        }
        .silex-id-1677280982432-230 {top: 180px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(244, 244, 244);
        }
        .silex-id-1677280983201-231 {top: 220px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(244, 244, 244);
        }
        .silex-id-1677280983902-232 {top: 260px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(244, 244, 244);
        }
        .silex-id-1677280984591-233 {top: 300px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(244, 244, 244);
        }
        .silex-id-1677281002228-235 {top: 340px; left: 120px; height: 40px; width: 140px;
        }
        .silex-id-1677280988951-234 {top: 340px; left: 20px; height: 40px; width: 100px; color: rgb(252, 252, 252);
        }
        .silex-id-1677281016070-236 {top: 380px; left: 20px; height: 20px; width: 100px; color: rgb(246, 246, 246);
        }
        .silex-id-1677281045289-237 {top: 400px; left: 320px; height: 64px; width: 64px;
        }
        .silex-id-1677281048980-238 {top: 480px; left: 320px; height: 64px; width: 64px;
        }
        .silex-id-1677281051930-239 {top: 420px; left: 20px; height: 140px; width: 260px; display: flex;
        }
    