

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1677278672998-0 {top: 40px; left: 500px; height: 100px; width: 100px;
        }
        .silex-id-1677278689806-1 {top: 40px; left: 40px; height: 20px; width: 280px; color: rgb(255, 255, 255);
        }
        .silex-id-1677278726589-2 {top: 80px; left: 40px; height: 40px; width: 280px; font-size: 14px; color: rgb(248, 248, 248);
        }
        .silex-id-1677278768446-3 {top: 180px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677278794109-4 {top: 180px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677278798774-5 {top: 180px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677278802477-6 {top: 180px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677278803884-7 {top: 180px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677278810517-8 {top: 220px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677278812026-9 {top: 260px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677278816014-10 {top: 300px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677278817035-11 {top: 340px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677278818282-12 {top: 220px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677278819274-13 {top: 260px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677278820746-14 {top: 300px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677278822253-15 {top: 340px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1677278823279-16 {top: 220px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677278824443-17 {top: 260px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677278825583-18 {top: 300px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677278826559-19 {top: 340px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1677278827598-20 {top: 220px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677278829468-21 {top: 260px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677278830874-22 {top: 300px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677278831851-23 {top: 340px; left: 400px; height: 20px; width: 80px;
        }
        .silex-id-1677278832798-24 {top: 220px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677278833615-25 {top: 260px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677278834863-26 {top: 300px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677278835723-27 {top: 340px; left: 500px; height: 20px; width: 80px;
        }
        .silex-id-1677278840225-28 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677278863519-29 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677278867905-30 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677278868747-31 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677278869499-32 {top: 340px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677278873953-33 {top: 140px; left: 40px; height: 20px; width: 100px; color: rgb(248, 248, 248);
        }
        .silex-id-1677278921649-35 {top: 380px; left: 40px; height: 40px; width: 100px; color: rgb(242, 242, 242);
        }
        .silex-id-1677278914454-34 {top: 380px; left: 160px; height: 40px; width: 120px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 0px; left: 120px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677278984889-37 {top: 440px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677278988448-38 {top: 520px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677278991281-39 {top: 440px; left: 60px; height: 140px; width: 240px; display: flex;
        }
    