

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677281122750-241 {top: 20px; left: 40px; height: 20px; width: 300px; color: rgb(249, 249, 249);
        }
        .silex-id-1677281146432-242 {top: 40px; left: 40px; height: 20px; width: 340px; color: rgb(243, 243, 243);
        }
        .silex-id-1677281192640-243 {top: 80px; left: 40px; height: 40px; width: 100px; font-size: 18px; color: rgb(243, 243, 243);
        }
        .silex-id-1677281268512-245 {top: 140px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281115891-240 {top: 20px; left: 540px; height: 100px; width: 100px;
        }
        .silex-id-1677281289936-250 {top: 220px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281290722-251 {top: 260px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281293084-252 {top: 300px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281294353-253 {top: 180px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281295215-254 {top: 220px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281295918-255 {top: 260px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281296557-256 {top: 300px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281309392-269 {top: 140px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677281288305-249 {top: 180px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677281264564-244 {top: 140px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281274062-248 {top: 140px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281272831-247 {top: 140px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281270189-246 {top: 140px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281304707-265 {top: 180px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281305425-266 {top: 220px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281306190-267 {top: 260px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281306879-268 {top: 300px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281303810-264 {top: 300px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281302991-263 {top: 260px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281300807-260 {top: 300px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281300063-259 {top: 260px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281302290-262 {top: 220px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281301634-261 {top: 180px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281297409-257 {top: 180px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281298094-258 {top: 220px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281351664-271 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677281352451-272 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677281353346-273 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677281355791-274 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677281365476-275 {top: 340px; left: 40px; height: 40px; width: 100px; color: rgb(251, 251, 251);
        }
        .silex-id-1677281384218-276 {top: 340px; left: 140px; height: 40px; width: 160px;
        }
        .silex-id-1677281392176-277 {top: 400px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677281394767-278 {top: 380px; left: 20px; height: 20px; width: 100px; color: rgb(244, 244, 244);
        }
        .silex-id-1677281410804-279 {top: 480px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677281414660-280 {top: 400px; left: 40px; height: 140px; width: 260px; display: flex;
        }
    