

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677279285225-40 {top: 40px; left: 420px; height: 100px; width: 100px;
        }
        .silex-id-1677279290715-41 {top: 20px; left: 20px; height: 40px; width: 260px; color: rgb(250, 250, 250);
        }
        .silex-id-1677279315172-42 {top: 60px; left: 20px; height: 40px; width: 320px; color: rgb(244, 244, 244);
        }
        .silex-id-1677279369916-43 {top: 120px; left: 20px; height: 20px; width: 100px; color: rgb(240, 240, 240); font-size: 18px;
        }
        .silex-id-1677279397132-44 {top: 160px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1677279404204-45 {top: 160px; left: 120px; height: 20px; width: 80px;
        }
        .silex-id-1677279407873-46 {top: 160px; left: 280px; height: 20px; width: 80px;
        }
        .silex-id-1677279408653-47 {top: 160px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1677279410013-48 {top: 160px; left: 480px; height: 20px; width: 80px;
        }
        .silex-id-1677279413227-49 {top: 200px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1677279414876-50 {top: 240px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1677279416091-51 {top: 280px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1677279418739-52 {top: 320px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1677279420175-53 {top: 200px; left: 120px; height: 20px; width: 80px;
        }
        .silex-id-1677279421085-54 {top: 240px; left: 120px; height: 20px; width: 80px;
        }
        .silex-id-1677279421902-55 {top: 280px; left: 120px; height: 20px; width: 80px;
        }
        .silex-id-1677279422783-56 {top: 320px; left: 120px; height: 20px; width: 80px;
        }
        .silex-id-1677279423835-57 {top: 200px; left: 280px; height: 20px; width: 80px;
        }
        .silex-id-1677279425855-58 {top: 240px; left: 280px; height: 20px; width: 80px;
        }
        .silex-id-1677279426814-59 {top: 280px; left: 280px; height: 20px; width: 80px;
        }
        .silex-id-1677279427563-60 {top: 320px; left: 280px; height: 20px; width: 80px;
        }
        .silex-id-1677279428430-61 {top: 200px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1677279430755-62 {top: 240px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1677279431728-63 {top: 280px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1677279432574-64 {top: 320px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1677279438013-65 {top: 200px; left: 480px; height: 20px; width: 80px;
        }
        .silex-id-1677279439371-66 {top: 240px; left: 480px; height: 20px; width: 80px;
        }
        .silex-id-1677279441164-67 {top: 280px; left: 480px; height: 20px; width: 80px;
        }
        .silex-id-1677279443671-68 {top: 320px; left: 480px; height: 20px; width: 80px;
        }
        .silex-id-1677279450859-69 {top: 160px; left: 220px; height: 20px; width: 40px; color: rgb(246, 246, 246); text-align: center;
        }
        .silex-id-1677279469904-70 {top: 200px; left: 220px; height: 20px; width: 40px; color: rgb(246, 246, 246); text-align: center;
        }
        .silex-id-1677279471039-71 {top: 240px; left: 220px; height: 20px; width: 40px; color: rgb(246, 246, 246); text-align: center;
        }
        .silex-id-1677279471857-72 {top: 280px; left: 220px; height: 20px; width: 40px; color: rgb(246, 246, 246); text-align: center;
        }
        .silex-id-1677279473157-73 {top: 320px; left: 220px; height: 20px; width: 40px; color: rgb(246, 246, 246); text-align: center;
        }
        .silex-id-1677279476188-74 {top: 380px; left: 20px; height: 40px; width: 100px; color: rgb(242, 242, 242);
        }
        .silex-id-1677279514259-77 {top: 440px; left: 20px; height: 20px; width: 80px; color: rgb(246, 246, 246);
        }
        .silex-id-1677279548091-79 {top: 440px; left: 120px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677279540256-78 {top: 520px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1677279507209-76 {top: 440px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1677279492255-75 {top: 380px; left: 120px; height: 40px; width: 180px;
        }
    