

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677282834133-441 {top: 20px; left: 520px; height: 100px; width: 100px;
        }
        .silex-id-1677282842182-442 {top: 20px; left: 40px; height: 20px; width: 280px; color: rgb(246, 246, 246);
        }
        .silex-id-1677282856111-443 {top: 40px; left: 40px; height: 20px; width: 320px; color: rgb(243, 243, 243);
        }
        .silex-id-1677282894903-444 {top: 80px; left: 40px; height: 40px; width: 160px; color: rgb(243, 243, 243); font-size: 18px;
        }
        .silex-id-1677282938412-445 {top: 140px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282941380-446 {top: 140px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282942928-447 {top: 140px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282946610-448 {top: 140px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282947698-449 {top: 140px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282949143-450 {top: 180px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282950067-451 {top: 220px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282950994-452 {top: 260px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282952384-453 {top: 300px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282954947-454 {top: 180px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282955746-455 {top: 220px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282956384-456 {top: 260px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282957008-457 {top: 300px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282957866-458 {top: 180px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282958593-459 {top: 220px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282959332-460 {top: 260px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282959987-461 {top: 300px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282960755-462 {top: 180px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282961473-463 {top: 220px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282962177-464 {top: 260px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282962802-465 {top: 300px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282963810-466 {top: 180px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282966356-467 {top: 220px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282967013-468 {top: 260px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282967749-469 {top: 300px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282974543-470 {top: 140px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(247, 247, 247);
        }
        .silex-id-1677282988405-471 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(247, 247, 247);
        }
        .silex-id-1677282989202-472 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(247, 247, 247);
        }
        .silex-id-1677282990050-473 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(247, 247, 247);
        }
        .silex-id-1677282990953-474 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(247, 247, 247);
        }
        .silex-id-1677283001455-476 {top: 340px; left: 140px; height: 40px; width: 140px;
        }
        .silex-id-1677283007235-477 {top: 380px; left: 40px; height: 20px; width: 100px; color: rgb(246, 246, 246);
        }
        .silex-id-1677282993330-475 {top: 340px; left: 40px; height: 40px; width: 100px; color: rgb(251, 251, 251);
        }
        .silex-id-1677283023931-478 {top: 380px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677283030876-479 {top: 420px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677283034682-480 {top: 460px; left: 340px; height: 64px; width: 64px;
        }
    