

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1677194029028-0 {top: 60px; left: 40px; height: 20px; width: 120px;
        }
        .silex-id-1677194051718-1 {top: 60px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1677194062298-2 {top: 120px; left: 360px; height: 20px; width: 120px;
        }
    