

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677281816564-321 {top: 20px; left: 540px; height: 100px; width: 100px;
        }
        .silex-id-1677281832109-322 {top: 20px; left: 40px; height: 20px; width: 300px; color: rgb(250, 250, 250);
        }
        .silex-id-1677281863467-323 {top: 40px; left: 40px; height: 20px; width: 320px; color: rgb(251, 251, 251);
        }
        .silex-id-1677281900413-324 {top: 80px; left: 40px; height: 40px; width: 140px; font-size: 18px; color: rgb(248, 248, 248);
        }
        .silex-id-1677281946882-325 {top: 140px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281951745-326 {top: 140px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281958577-330 {top: 180px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281960478-331 {top: 220px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281961393-332 {top: 260px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281962241-333 {top: 300px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281964543-334 {top: 180px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281966224-335 {top: 220px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281966831-336 {top: 260px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281967454-337 {top: 300px; left: 140px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281984501-350 {top: 140px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(248, 248, 248);
        }
        .silex-id-1677281957168-329 {top: 140px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281974820-346 {top: 180px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281975424-347 {top: 220px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281976286-348 {top: 260px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281978371-349 {top: 300px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281973827-345 {top: 300px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281973135-344 {top: 260px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281972418-343 {top: 220px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281971700-342 {top: 180px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281956194-328 {top: 140px; left: 400px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281955168-327 {top: 140px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281968451-338 {top: 180px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281969266-339 {top: 220px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281970050-340 {top: 260px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677281970788-341 {top: 300px; left: 300px; height: 1.4em; width: 80px;
        }
        .silex-id-1677282016452-351 {top: 180px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(248, 248, 248);
        }
        .silex-id-1677282017234-352 {top: 220px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(248, 248, 248);
        }
        .silex-id-1677282017952-353 {top: 260px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(248, 248, 248);
        }
        .silex-id-1677282018688-354 {top: 300px; left: 240px; height: 20px; width: 40px; text-align: center; color: rgb(248, 248, 248);
        }
        .silex-id-1677282033433-355 {top: 340px; left: 40px; height: 40px; width: 100px; color: rgb(244, 244, 244);
        }
        .silex-id-1677282047947-356 {top: 340px; left: 140px; height: 40px; width: 160px;
        }
        .silex-id-1677282059757-357 {top: 380px; left: 40px; height: 20px; width: 100px; color: rgb(248, 248, 248);
        }
        .silex-id-1677282087257-359 {top: 500px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677282083135-358 {top: 420px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677282091056-360 {top: 420px; left: 40px; height: 140px; width: 260px; display: flex;
        }
    