

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677280010089-120 {top: 40px; left: 500px; height: 100px; width: 100px;
        }
        .silex-id-1677280016955-121 {top: 20px; left: 40px; height: 20px; width: 280px; color: rgb(246, 246, 246);
        }
        .silex-id-1677280042588-122 {top: 60px; left: 40px; height: 20px; width: 340px; color: rgb(242, 242, 242);
        }
        .silex-id-1677280114642-123 {top: 120px; left: 40px; height: 20px; width: 100px; font-size: 18px; color: rgb(248, 248, 248);
        }
        .silex-id-1677280234584-149 {top: 160px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280256893-150 {top: 200px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280257731-151 {top: 240px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280258431-152 {top: 280px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280259107-153 {top: 320px; left: 260px; height: 20px; width: 40px; text-align: center; color: rgb(240, 240, 240);
        }
        .silex-id-1677280263336-154 {top: 380px; left: 40px; height: 40px; width: 100px; color: rgb(242, 242, 242);
        }
        .silex-id-1677280277943-155 {top: 380px; left: 160px; height: 40px; width: 140px;
        }
        .silex-id-1677280285940-156 {top: 420px; left: 40px; height: 20px; width: 100px; color: rgb(253, 253, 253);
        }
        .silex-id-1677280304101-157 {top: 420px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677280310123-158 {top: 460px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677280314807-159 {top: 500px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677366302122-0 {top: 160px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677366312764-1 {top: 200px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677366318797-2 {top: 240px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677366324972-3 {top: 280px; left: 40px; height: 1.4em; width: 80px;
        }
        .silex-id-1677366329888-4 {top: 320px; left: 40px; height: 20px; width: 80px;
        }
        .silex-id-1677366336042-5 {top: 160px; left: 140px; height: 1.4em; width: 100px;
        }
        .silex-id-1677366339569-6 {top: 200px; left: 140px; height: 1.4em; width: 100px;
        }
        .silex-id-1677366342194-7 {top: 240px; left: 140px; height: 1.4em; width: 100px;
        }
        .silex-id-1677366344966-8 {top: 280px; left: 140px; height: 1.4em; width: 100px;
        }
        .silex-id-1677366347259-9 {top: 320px; left: 140px; height: 1.4em; width: 100px;
        }
        .silex-id-1677366350790-10 {top: 160px; left: 320px; height: 20px; width: 80px;
        }
        .silex-id-1677366355603-11 {top: 160px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677366360521-12 {top: 160px; left: 520px; height: 1.4em; width: 80px;
        }
        .silex-id-1677366365148-13 {top: 200px; left: 320px; height: 20px; width: 80px;
        }
        .silex-id-1677366370446-14 {top: 240px; left: 320px; height: 20px; width: 80px;
        }
        .silex-id-1677366376815-15 {top: 280px; left: 320px; height: 20px; width: 80px;
        }
        .silex-id-1677366382863-16 {top: 320px; left: 320px; height: 20px; width: 80px;
        }
        .silex-id-1677366387628-17 {top: 200px; left: 420px; height: 1.4em; width: 80px;
        }
        .silex-id-1677366393596-18 {top: 240px; left: 420px; height: 20px; width: 80px;
        }
        .silex-id-1677366398844-19 {top: 280px; left: 420px; height: 20px; width: 80px;
        }
        .silex-id-1677366403729-20 {top: 320px; left: 420px; height: 20px; width: 80px;
        }
        .silex-id-1677366408554-21 {top: 200px; left: 520px; height: 20px; width: 80px;
        }
        .silex-id-1677366413647-22 {top: 240px; left: 520px; height: 20px; width: 80px;
        }
        .silex-id-1677366418221-23 {top: 280px; left: 520px; height: 20px; width: 80px;
        }
        .silex-id-1677366423222-24 {top: 320px; left: 520px; height: 20px; width: 80px;
        }
    