

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 760px; height: 620px; background-image: url("fondoEjercicios.jpg"); background-position: 0% 0%; background-size: auto; background-repeat: repeat;
        }
        .silex-id-1677280380426-160 {top: 40px; left: 500px; height: 100px; width: 100px;
        }
        .silex-id-1677280386077-161 {top: 20px; left: 40px; height: 20px; width: 280px; color: rgb(249, 249, 249);
        }
        .silex-id-1677280436443-162 {top: 60px; left: 40px; height: 20px; width: 340px; color: rgb(247, 247, 247);
        }
        .silex-id-1677280501534-163 {top: 100px; left: 40px; height: 40px; width: 100px; color: rgb(249, 249, 249); font-size: 18px;
        }
        .silex-id-1677280550187-164 {top: 160px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280554765-165 {top: 160px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280556030-166 {top: 160px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280558877-167 {top: 160px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280560509-168 {top: 160px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280563006-169 {top: 200px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280564375-170 {top: 240px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280565438-171 {top: 280px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280566461-172 {top: 320px; left: 20px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280567534-173 {top: 200px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280569518-174 {top: 240px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280570349-175 {top: 280px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280571165-176 {top: 320px; left: 120px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280573768-177 {top: 200px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280574608-178 {top: 240px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280575654-179 {top: 280px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280577679-180 {top: 320px; left: 280px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280578910-181 {top: 200px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280580651-182 {top: 240px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280581453-183 {top: 280px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280582158-184 {top: 320px; left: 380px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280583865-185 {top: 200px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280584606-186 {top: 240px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280585396-187 {top: 280px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280586176-188 {top: 320px; left: 480px; height: 1.4em; width: 80px;
        }
        .silex-id-1677280589700-189 {top: 160px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677280606960-190 {top: 200px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677280607621-191 {top: 240px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677280608302-192 {top: 280px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677280609107-193 {top: 320px; left: 220px; height: 20px; width: 40px; text-align: center; color: rgb(243, 243, 243);
        }
        .silex-id-1677280614569-194 {top: 380px; left: 20px; height: 40px; width: 100px; color: rgb(242, 242, 242);
        }
        .silex-id-1677280632308-195 {top: 380px; left: 160px; height: 40px; width: 140px;
        }
        .silex-id-1677280642650-197 {top: 440px; left: 20px; height: 20px; width: 100px; color: rgb(248, 248, 248);
        }
        .silex-id-1677280638668-196 {top: 460px; left: 40px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1677280666513-198 {top: 440px; left: 340px; height: 64px; width: 64px;
        }
        .silex-id-1677280670879-199 {top: 520px; left: 340px; height: 64px; width: 64px;
        }
    