

        .body-initial {background-color: rgb(255, 255, 255); width: 950px; height: 720px;
        }
        .silex-id-1657902313546-0 {top: 100px; left: 40px; height: 20px; width: 60px; border-color: rgb(245, 245, 245); color: rgb(240, 240, 240);
        }
        .silex-id-1677273548896-0 {top: 140px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273555940-1 {top: 140px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273556963-2 {top: 140px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1677273563605-5 {top: 140px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1677273559147-3 {top: 140px; left: 240px; height: 20px; width: 60px;
        }
        .silex-id-1677273561747-4 {top: 140px; left: 320px; height: 20px; width: 60px;
        }
        .silex-id-1653065416247-26 {top: 140px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(246, 246, 246);
        }
        .silex-id-1677273588343-6 {top: 180px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273591667-7 {top: 180px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1677273771046-8 {top: 180px; left: 240px; height: 20px; width: 60px;
        }
        .silex-id-1677273772980-9 {top: 180px; left: 320px; height: 20px; width: 60px;
        }
        .silex-id-1677273774405-10 {top: 180px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1677273777060-11 {top: 220px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273778117-12 {top: 220px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1677273779363-13 {top: 220px; left: 240px; height: 20px; width: 60px;
        }
        .silex-id-1677273780420-14 {top: 220px; left: 320px; height: 20px; width: 60px;
        }
        .silex-id-1677273781157-15 {top: 220px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1677273782436-16 {top: 260px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273783349-17 {top: 260px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1677273784276-18 {top: 260px; left: 240px; height: 20px; width: 60px;
        }
        .silex-id-1677273786435-19 {top: 260px; left: 320px; height: 20px; width: 60px;
        }
        .silex-id-1677273787397-20 {top: 260px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1653065444752-28 {top: 180px; left: 180px; height: 20px; width: 40px; text-align: center; border-color: rgb(243, 243, 243); color: rgb(246, 246, 246);
        }
        .silex-id-1654529095673-9 {top: 220px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(251, 251, 251);
        }
        .silex-id-1654529148005-11 {top: 260px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(242, 242, 242);
        }
        .silex-id-1677273899863-21 {top: 300px; left: 20px; height: 20px; width: 60px;
        }
        .silex-id-1677273902224-22 {top: 300px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1677273903684-23 {top: 300px; left: 240px; height: 20px; width: 60px;
        }
        .silex-id-1677273906343-24 {top: 300px; left: 320px; height: 20px; width: 60px;
        }
        .silex-id-1677273907659-25 {top: 300px; left: 400px; height: 20px; width: 60px;
        }
        .silex-id-1677273913909-26 {top: 300px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(242, 242, 242);
        }
        .silex-id-1653065098958-13 {top: 360px; left: 20px; height: 20px; width: 100px; color: rgb(240, 240, 240);
        }
        .silex-id-1653064523411-9 {top: 360px; left: 140px; height: 40px; width: 160px;
        }
        .silex-id-1654535908709-3 {top: 420px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1654535913189-4 {top: 500px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1653065316810-24 {top: 60px; left: 20px; height: 20px; width: 240px; font-size: 11px; color: rgb(248, 248, 248);
        }
        .silex-id-1653063419444-1 {top: 20px; left: 40px; height: 20px; width: 300px; color: rgb(246, 246, 246);
        }
        .silex-id-1654535914664-5 {top: 460px; left: 20px; height: 120px; width: 280px; display: flex;
        }
        .silex-id-1653064429169-7 {top: 460px; left: 258px; height: 20px; width: 100px; color: rgb(244, 244, 244);
        }
        .silex-id-1658176354419-0 {top: 40px; left: 360px; height: 80px; width: 100px;
        }
        .background-initial {background-color: transparent; top: 5px; left: 100px; width: 780px; height: 595px; background-image: url("fondoEjercicios.jpg"); background-size: auto; background-position: 0% 0%; background-repeat: repeat;
        }
    